@model DepartmentStore.DataLayer.Entities.User.User


<div style="direction: rtl">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در ایران ابزار، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="http://localhost:20843/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
</div>