
@{
    ViewData["Title"] = "خانه";
}
<section class="content">
    <div class="container">
        <div class="col-md-6 col-sm-12 float-left">
            <div class="guide">
                <p>جهت ثبت نام در سایت و سفارش کالا بر روی دکمه ثبت نام کلیک کنید</p>
            </div>
            <div class="btn-container">
                <a href="/Login" class="btn btn-outline-success" id="btnEnter">ورود</a>
                <a href="/Register" class="btn btn-info" id="btnRegister">ثبت نام</a>
                <div class="dialogbox">
                    <div class="dialog-body">
                        <span class="tip tip-up"></span>
                        <div class="message">
                            <span>جهت خرید کالا و خدمات می بایست ثبت نام کنید </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 float-right">
            <div id="image-top" class="imgContent">
                <!-- pb-pattern bailh-3 over-img-->
                <div class="box pb-pattern over-img"></div>
                <figure class="mask">
                    <h2 id="tag-animate"><span class="word1">آرشیو<br />کامل ابزار</span>انتخاب دقیق</h2>
                    <p class="paragraph-animate">
                    <p class="paragraph-animate">
                        <em>
                            ارائه بورس کالاها و لوازم جانبی
                        </em>
                    </p>
                    <br />
                    </p>
                    <a href="#" class="archive">آرشیو محصولات</a>
                </figure>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header-column">
            <h4>مهمترین دسته بندی محصولات</h4>
        </div>
        <section class="columns">
            <div class="column">
                <h5>ستون شماره 1</h5>
                <img src="/img/carousel5.jpg" alt="">
                <a href="#">مشاهده جزئیات</a>
            </div>
            <div class="column">
                <h5>ستون شماره 2</h5>
                <img src="/img/carousel1.jpg" alt="">
                <a href="#">مشاهده جزئیات</a>
            </div>
            <div class="column">
                <h5>ستون شماره 3</h5>
                <img src="/img/carousel4-36def516-80c1-11eb-9730-76961dfc54ee.jpg" alt="">
                <a href="#">مشاهده جزئیات</a>
            </div>
            <div class="column">
                <h5>ستون شماره 4</h5>
                <img src="/img/carousel4.jpg" alt="">
                <a href="#">مشاهده جزئیات</a>
            </div>
        </section>
    </div>

    <!-- carosel -->
    <div class="container-fluid col-md-12 col-sm-12">
        <div class="row-fluid">
            <div class="span12">
                <div class="carousel slide" id="myCarousel">
                    <div class="carousel-title">پر بازدیدترین محصولات</div>
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#"> ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>
                                            ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssاین
                                            محصول دارای
                                        </p>
                                        <a class="btn btn-mini btn-secondary" href="#"> ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /Slide1 -->
                        <div class="item">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="/img/carousel1.jpg" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="/img/carousel2.jpg" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="/img/sky.jpg" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /Slide2 -->
                        <div class="item">
                            <ul class="thumbnails">
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>این محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>نمونه محصول</h4>
                                        <p>sssssssssssssssssssssssssssssssssssssssssssssssssاین محصول دارای</p>
                                        <a class="btn btn-mini btn-secondary" href="#">ادامه &raquo;</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /Slide3 -->
                    </div>

                    <div class="control-box">
                        <a data-slide="prev" href="#myCarousel" class="carousel-control left">‹</a>
                        <a data-slide="next" href="#myCarousel" class="carousel-control right">›</a>
                    </div>
                    <!-- /.control-box -->
                </div><!-- /#myCarousel -->
            </div><!-- /.span12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


