@model DepartmentStore.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">ایران ابزار</a></li>
            <li id="RegisterText" class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>
</div>
<div class="login-wrap">
    <div class="login-html">
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
            </div>
        }
        <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">بازیابی کلمه عبور</label>
        <div class="login-form">
            <form asp-action="ForgotPassword" method="post">
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="pass" class="label">ایمیل</label>
                        <input asp-for="Email" name="Email" id="pass" type="text" class="input">
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="group">
                        <input type="submit" class="button" value="تأیید و ارسال">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

