@model DepartmentStore.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">ایران ابزار</a></li>
            <li id="RegisterText" class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
        </ul>
    </nav>
</div>
<div class="login-wrap">
    <div class="login-html">
        <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">بازیابی کلمه عبور</label>
        <div class="login-form">
            <form asp-action="ResetPassword" method="post">
                <input type="hidden" asp-for="ActiveCode"/>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="pass" class="label">کلمه عبور</label>
                        <input asp-for="Password" id="pass" type="password" class="input" data-type="password">
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="group">
                        <label for="pass" class="label">تکرار کلمه عبور</label>
                        <input asp-for="RePassword" id="pass" type="password" class="input" data-type="password">
                    </div>
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                    <div class="group">
                        <input type="submit" class="button" value="ثبت تغییرات">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



